{
  "version": "0.0.1",
  "configurations": [
    {
      "name": "material",
      "runtimeExecutable": "python3",
      "runtimeArgs": [
        "-m",
        "http.server",
        "8777",
        "--directory",
        "Material html"
      ],
      "port": 8777
    },
    {
      "name": "parcial",
      "runtimeExecutable": "R",
      "runtimeArgs": [
        "-e",
        "shiny::runApp('parcial/app', port=8781, host='127.0.0.1', launch.browser=FALSE)"
      ],
      "port": 8781
    },
    {
      "name": "panel",
      "runtimeExecutable": "R",
      "runtimeArgs": [
        "-e",
        "shiny::runApp('parcial/panel', port=8899, host='127.0.0.1', launch.browser=FALSE)"
      ],
      "port": 8899
    }
  ]
}
